{{#markdown }}
## Buttons
___

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, nostrum, aliquid, et, ducimus aliquam consequuntur quae molestias dicta laboriosam magni est ab similique magnam unde tenetur amet mollitia! Ut, consequatur!

<div class="btn btn-primary">Button</div>

<br>

```html
    <div class="btn">Button</div>
```
```css
    .btn {
        @include btn();
    }
```

{{/markdown }}
