---
title: COMPONENTS
description: Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
---
{{> button }}

{{!-- <div style="height: 500px;"><h3 class="sg-docs-title" id="Buttons">Buttons</h3></div> --}}
<div style="height: 500px;"><h3 class="sg-docs-title" id="Avatar">Avatar</h3></div>
<div style="height: 500px;"><h3 class="sg-docs-title" id="Box">Box</h3></div>
<div style="height: 500px;"><h3 class="sg-docs-title" id="Panel">Panels</h3></div>
<div style="height: 500px;"><h3 class="sg-docs-title" id="Header">Header</h3></div>
